*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Consolas, sans-serif;
}
body {
  overflow: hidden;
  min-height: 100vh;
  background: #111;
}
div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
h1 {
  color: #0ff;
}
i {
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent, #0f0);
  /* color: #0f0; */
  /* background-image: url('../photo-1592609931095-54a2168ae893.jfif'); */
  /* background-size: cover; */
  border-radius: 0 0 5px 5px;
  animation: animate 5s linear infinite;
}
/* i:nth-child(3n+1) { */
/*   background: linear-gradient(transparent, #0ff); */
/* } */
/* i:nth-child(3n+2) { */
/*   background: linear-gradient(transparent, #0f0); */
/* } */
/* i:nth-child(3n+3) { */
/*   background: linear-gradient(transparent, #f00); */
/* } */

@keyframes animate {
  0% {
    transform: translateY(-200px)
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}
